.article-single {
    .card-body {
        padding: 3rem 4rem;

        .article-summary {
            color: $text-muted;
        }

        p:last-of-type,
        pre:last-of-type,
        ul:last-of-type,
        ol:last-of-type {
            margin-bottom: 0 !important;
        }
    }
}

@media (max-width: 768px) {
    .article-single {
        border: 0;

        .card-body {
            padding: 0;
        }
    }
}