.article-single {
    .card-body {
        padding: 3rem 4rem;

        .article-summary {
            color: $text-muted;
        }
    }
}

@media (max-width: 768px) {
    .article-single {
        border: 0;

        .card-body {
            padding: 0;
        }
    }
}