.article-single {
    .card-body {
        padding: 3rem 4rem;

        .article-summary {
            color: $text-muted;
        }

        > *:last-child {
            margin-bottom: 0 !important;
        }
    }

    .rate-article {
        padding: $spacer * 2;
        margin: 0 $spacer $spacer;
        border-radius: $border-radius;
        background-color: $gray-100;
        text-align: center;

        form {
            text-align: left;
        }

        .title {
            color: $text-muted;
            display: block;
        }

        .btn-emoji {
            transition: transform .2s ease-in-out;
            transform: scale(1.8);
            margin: $spacer;

            &:hover {
                transform: scale(2.3);
            }
        }
    }
}

@media (max-width: 768px) {
    .article-single {
        border: 0;

        .card-body {
            padding: 0;
        }

        .rate-article {
            margin: $spacer 0 0;
        }
    }
}