.callout {
    padding: $spacer;
    margin-bottom: $spacer;
    border-left: 5px solid transparent;

    p:last-of-type {
        margin: 0;
    }

    .callout-title {
        font-size: 1.3rem;
    }

    &.callout-green {
        border-color: $success; 
        background-color: lighten($success, 59);
        
        .callout-title {
            margin-bottom: $spacer;
        }

        a,
        .callout-title {
            color: $success;
        }
    }

    &.callout-blue {
        border-color: darken($info, 20); 
        background-color: lighten($info, 37);
        
        .callout-title {
            margin-bottom: $spacer;
        }

        a,
        .callout-title {
            color: darken($info, 20);
        }
    }

    &.callout-yellow {
        border-color: darken($warning, 10); 
        background-color: lighten($warning, 47);
        
        .callout-title {
            margin-bottom: $spacer;
        }

        a,
        .callout-title {
            color: darken($warning, 10);
        }
    }

    &.callout-red {
        border-color: $danger; 
        background-color: lighten($danger, 50);
        
        .callout-title {
            margin-bottom: $spacer;
        }

        a,
        .callout-title {
            color: $danger;
        }
    }
}