.footer {
    padding: 0.5rem 1rem;
    color: $text-muted;
    text-align: center;

    .copyright {
        font-size: .7rem;

        a {
            color: $text-muted;

            &:hover,
            &:focus {
                color: $gray-800;
            }
        }
    }
}