.section {
    padding: 5rem 3rem;

    &.contact {
        .lead {
            color: $text-muted;
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding: 5rem 0;
    }
}